.container {
  width: 1132px;
  margin: 24px auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.personIcon {
  width: 32px;
  height: 32px;
  border: 1px solid #d2d2d2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.neighborPosts {
  display: flex;
  flex-direction: column;

  & > p {
    text-align: center;
  }

  & button {
    background-color: #fff;
    color: #237BFF;
    padding: 0;
    border: none;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 600;
  }
}

.posts {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

.post {
  padding: 24px 0;
  border-bottom: 1px solid #d2d2d2;

  &__info {
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
    border: none;
    background-color: inherit;

    &--user {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 16px;
      text-align: left;
    }

    &--time {
      font-family: Pretendard;
      font-weight: 400;
      font-size: 12px;
      color: #828282;
      margin-top: 4px;
    }
  }

  &__title {
    font-family: Pretendard;
    font-size: 20px;
  }

  &__content {
    color: #828282;
    font-family: Pretendard;
    font-weight: 400;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.my {
  display: flex;
  flex-direction: column;
  border: 1px solid #d2d2d2;
  max-height: 500px;

  &__userInfo {
    display: flex;
    gap: 4px;
    align-items: center;
    width: fit-content;
    background-color: inherit;
    border: none;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4f3fd;
    padding: 12px;

    &--name {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 16px;

      &--nonLogin {
        color: #828282;
        font-weight: 400;
        font-size: 14px;
      }
    }

    &--logout {
      background-color: #61C3FA66;
      border: none;
      padding: 4px;
      cursor: pointer;
    }
  }

  &__blog {
    // display: flex;

    & > button {
      width: 50%;
      border: 1px solid #d2d2d2;
      background-color: #237BFF;
      padding: 12px;
      color: #fff;
      font-family: Pretendard;
      font-weight: 600;
      font-size: 16px;
    }
  }

  &__neighbor {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &--title {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 16px;
    }
  }
}

.neighborList {
  max-height: 480px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__name {
    font-family: Pretendard;
    font-weight: 400;
    font-size: 13px;
    margin-left: 6px;
  }
}

.guide {
  text-align: center;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}