@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');

header {
  width: 100vw;
  min-width: 1132px;
  background-color: #237BFF;
}

.container {
  width: 1132px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px 8px;
  
  &__left {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.logo {
  background-color: inherit;
  border: none;
  font-family: 'SUIT', sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;

  &__filter {
    position: relative;
    box-sizing: border-box;
    height: fit-content;
    padding: 8px 0;
    border: none;
    border-radius: 4px;

    &--options {
      position: absolute;
      top: 24px;
      left: 0;
    }
  }

  &__input {
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    width: 240px;
    height: 48px;
    padding: 8px;

    &:disabled {
      background-color: #E7F3FC;
    }
  }

  &__button {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    
    &:hover {
      background-color: #e1e1e1;
    }

    &:disabled {
      background-color: #E7F3FC;
    }
  }
}

.searchMenu {
  position: relative;
  width: 90px;
  box-sizing: border-box;

  &__dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    width: 100%;

    & > svg {
      width: 16px;
      height: 16px;
    }
  }
}

.menu {
  position: absolute;
  top: 44px;
  left: -1px;
  background-color: #fff;
  border: 1px solid #828282;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 34%);
  width: 100%;

  &__button {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    padding: 12px 8px;
    border-radius: 4px;
    text-align: start;

    &:hover {
      background-color: #eee;
    }
  }
}

.login {
  background-color: inherit;
  border: none;
  color: #fff;
  font-family: Pretendard;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.loggedIn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  &__user{
    color: #fff;
    font-family: Pretendard;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    & > span {
      font-weight: 600;
    }
  }

  &__menu {
    display: flex;
    gap: 8px;

    & > button {
      border: none;
      background-color: inherit;
      font-family: Pretendard;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: #000;
    }
  }
}